body {
  margin: 0;
}
.content {
  padding: 10px;
  font-family: "Helvetica Neue",Helvetica,arial,sans-serif;
  box-sizing: border-box;
  font-size: 16px;
  position: relative;
  display: inline-block;
}
.label {
  background: #eee;
  display: inline-block;
  padding: 15px 13px 13px;
  line-height: 1;
  vertical-align: middle;
  border-radius: 4px 0 0 4px;
  font-weight: bold;
  font-size: 1.5em;
  color: #333;
  min-width: 120px;
}
.odometer {
  background: #444;
  color: #fff;
  padding: 13px 16px 11px;
  margin: auto;
  line-height: 1 !important;
  font-size: 1.5em;
  border-radius: 0 4px 4px 0;
  font-weight: bold;
}
.subtitle {
  color: #444;
  text-align: center;
  padding-top: 2px;
}
.twitter .odometer {
  background: #55AACE
}
