body {
  margin: 0;
}
.content {
  font-family: "Helvetica Neue",Helvetica,arial,sans-serif;
  box-sizing: border-box;
  font-size: 16px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  min-width: 300px;
  width: 100%;
  overflow: hidden;
  border-radius: 4px;
}
.label {
  background: #eee;
  display: inline-block;
  padding: 15px 13px 13px;
  line-height: 1;
  vertical-align: middle;
  font-weight: bold;
  font-size: 1.5em;
  color: #333;
  min-width: 180px;
  width: calc(100% - 15px - 13px);
}
.odometer {
  background: #444;
  color: #fff;
  padding: 13px 16px 11px;
  margin: auto;
  line-height: 1 !important;
  font-size: 1.5em;
  font-weight: bold;
  height: 52px;
  position: absolute !important;
  right: 0;
  top: 0;
}
.subtitle {
  color: #444;
  text-align: center;
  padding-top: 2px;
}
.twitter .odometer {
  background: #55AACE;
}

.content .odometer-inside {
  transition: -webkit-transform 500ms;
}
.content:hover .odometer-inside {
  -webkit-transform: translateY(-40px);
}
.content .odometer:before {
  -webkit-transform: translateY(40px);
  visibility: hidden;
  transition: -webkit-transform 500ms;
  position: absolute;
  margin: 0 -16px -11px;
  width: 100%;
  text-align: center;
}
.content:hover .odometer:before {
  visibility: visible;
  -webkit-transform: translateY(0);
}

.content.github .odometer:before {
  content: "★";
}
.content.twitter .odometer:before {
  font-family: social-icons;
  content: '\e800';
  margin-top: 2px;
}
